
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add a couple of styles */

html, 
body, 

/* set them to black to suit the spotify feel */
:root{
  height: 100%;
  background-color: #0000;
  color-scheme: dark;
}